body{
    background-color: #3498db;
    background-size: 100%;
}

.container{
    max-width: 400px;
    margin:100px auto;
    padding: 20px;
    background-color: aliceblue;
    border:2px solid #1e5f8a;
    border-radius: 10px;
    box-shadow: 2px 10px 10px rgba(0,0,0,0.2);

}

h2{
    margin-top: 0;
    color: #000;
    text-align: center;
    text-decoration: underline;

}

form{
    margin-bottom: 20px;
    display:flex;
    flex-direction: column;
}

label{
    font-size: large;
    font-weight: 600px;
    margin-bottom: 6px;
    color: #000;

}

input[type="number"],
select{
    width: 95%;
    padding:10px;
    border:none;
    background:#fff;
    border-radius: 6px;
    box-shadow:0px 0px 5px rgba(0,0,0,0.2);
    margin-bottom: 10px;
}

input[type="number"]:focus,
select:focus{
   outline : none; 
   box-shadow: 0px 0px 5px #3498db;
}

select{
    width: 100%;
}

input[type="submit"]{
    padding: 10px;
    margin-top: 10px;
    background-color: #3498db;
    border:none;
    border-radius: 4px;
    color: #fff;
    cursor:pointer;
    transition: background-color 0.s ease;

}

#result{
    font-weight: bold;
    margin-top: 20px;
    color:#3498db;
}
